* {
    box-sizing: border-box;
    color: rgb(250, 243, 243);
    background: url(imgs/cloudy.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
    font: 'Quando', serif;
    color: #F9BC02;
    font-size: 2.5em;
    border-bottom: 0.25px solid whitesmoke;
}

body {
    margin: 2.5% 5%;
    font-family: "Judson",
    sans-serif; 
    font-size: 20px;
    text-align: center;
}

.hide {
    display: none;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    color: #F9BC02;
}

footer {
    padding: 1% 0;
}
  
section {
    border-radius: 2.5%;
    padding: 0.5% 0;
    margin: 1% 5%;
}

.projected-weather-results, .current-event-section, 
.current-temp, .all-event-results {
    border: 0.5px solid #FFB352;
    box-shadow: 0.75px 0.75px #FFB352;
}

button, input#search-city {
    color: white;
    border-radius: 10.5%;
    border: 1.75px solid #FFB352;
    height: 25px;
}

button:hover, #search-city:hover {
    cursor: pointer;
    height: 22.5px;
    color: #F9BC02;
}
input::placeholder {
    color: whitesmoke;
}

#js-city {
    border-radius: 7.5%;
    color: whitesmoke;
    width: 50%;
    height: 25px;
    margin-top: 2.5%;
    border: 1.75px solid #FFB352;
}
  
@media screen and (min-width: 700px) {
    body {
        border-radius: 2.5%;
        padding: 0.5% 0;
        margin: 1% 17.5%;
    }

    .projected-weather-results, .current-event-section, 
.current-temp, .all-event-results {
    box-shadow: none;
}
}