* {
    box-sizing: border-box;
    color: rgb(241, 245, 250);
}

h1 {
    color: #66FCF1;
    font-size: 2.5em;
}

body {
    margin: 5% 5%;
    background-color: #0B0C10;
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    text-align: center;
}

nav {
      display: none;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

footer {
    padding: 1% 0;
}
  
section {
    border-radius: 5%;
    padding: 6% 0;
    margin: 2.5% 5%;
    background-color: #45A29E;
}

button, input#search-city {
    background-color: rgb(6, 129, 13);
    border-radius: 10.5%;
}

input#js-city {
    border-radius: 7.5%;
    color: black;
}
  
@media screen and (min-width: 500px) {

}